{% extends "base.html" %}

{% block title %}Select{% endblock %}

{% block content %}
<script src="/js/jquery.js"></script>
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
        <p style="margin:10px;text-align:center;">
        <b style="margin:10px;text-align:center;">
        Proceed with email conversion?</b> 
        </p>
        <p style="margin:10px;float:right;text-align:center;">
        Emails with large attachments summing to greater than 25MB per message will be left behind.
        </p>
        <p>
        <!-- close button is defined as close class -->
        <div style="margin:10px;float:left;text-align:center;">
        	<a href="#" class="continue">Continue</a>
        </div>
        <div style="margin:10px;float:right;text-align:center;">
        	<a href="#" class="close">Cancel</a>
 		</div>
    </div>
 
     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
  background-color:#AAF
}
</style>
<p>
Welcome to the PSU Email Migration opt-in tool. 
This tool is designed to synchronize your email data on PSU’s servers (messages and folder structure) 
with your account in Google Apps. 
Once they are in sync the tool will finish the process by updating our records to route your 
mail through the Google Apps @ PSU mail system.</p>
<p>
Once you click Opt-in, you can safely close this page or revisit it to check on the progress. </p>

<p>
Warning: Mail maintenance (moving/deleting folders, purging messages) can delay or even foul your migration. 
If you need to perform such actions, please do so then revisit this page in a few days. 
Do NOT do these types of actions while the tool is working. </p>

<br>
<b>IMPORTANT: Before opting-in to Google Mail be sure that you understand the items below:</b>
<br>
<ul>
<li>While this process typically takes between 10 minutes and 1 hour to complete, it can take up to 48 hours.  
During this process, you can continue to use your current mail setup.  You will receive a final email in your 
PSU mailbox when the migration has finished along with your next steps.

<li>Email Clients (i.e. Thunderbird, Outlook, and iPhone/Android mail apps) will need to be reconfigured once the process is complete. 
Instructions on how to do this can be found on the OIT website, 
in addition a link to the page will be sent to you in the Completion Email. 
<b>Be aware the best experience is had through the Google Mail web app - commonly referred to as Gmail.</b>

<li>Email forwarding (if configured in OAM or Webmail) will stop, and any existing mail filters & rules will need to be configured in Google Mail.

<li>Shared email folders will not be accessible once converted to Google Mail.

<li>Upon engaging the opt-in tool Mail will be available within Google Apps. Do NOT interact with it until you receive the completion emails.

<li>This process can not be reversed. You will be on Google Mail permanently.
</ul>

{% include "ghoul/outstanding.html" %}

<div style="margin:20px;clear:both;text-align:center;">

<p>Clicking the <i>Opt-in</i> button below will initiate the PSU to Google email conversion process.  
Your existing PSU email will 
be copied to Google and all future email sent to you will be delivered to your Google mail account. </p>
<br>
		<form method="post" action="/opt-in/status/">
		{% csrf_token %}
			<input type="submit" value="Opt-in" />
			<input type="hidden" name="login" value="{{ login }}" />
		</form>
</div>

{% endblock %}

