{% extends "form_base.html" %}

{% block content %}

<p>Please indicate that you understand the items below.</p>

<style>
fieldset p label {
    margin-left: 10px;
}
</style>

<fieldset>
<p>
<label for="id_confirm-no_access">
{{ form.no_access }}
Messages with attachments larger than 25MB cannot be migrated to Google Mail.
</label>
</p>
<p>{{ form.no_access.errors }}</p>

<p>
<label for="id_confirm-no_delete">
{{ form.no_delete }}
During migration, you may still access your ONID mailbox to send and receive email, but DO NOT purge messages or restructure your folders, as this can delay or cause your migration to fail.
</label>
</p>
<p>{{ form.no_delete.errors }}</p>

<p>
<label for="id_confirm-confirm_email">
{{ form.confirm_email }}
You will receive a final email in your (old) ONID mailbox when themigration has finished.  This may take up to 1 hour.
</label>
</p>
<p>{{ form.confirm_email.errors }}</p>
<p>Please confirm you wish to opt in to Google Mail.</p>
<p>
<label for="id_confirm-permanent">
{{ form.permanent }}
This process cannot be reversed. After you click “Yes! I want to opt-in,” your ONID mailbox will be on Google Mail permanently.
</label>
</p>
<p>{{ form.permanent.errors }}</p>
</fieldset>

{% include "buttons.html" %}

{% endblock %}
