{% extends "base.html" %}

{% block content %}

<ol>Your ONID email is now being migrated to Google Apps for OSU!  Please read the following important items:

   <li>Your access to Google Mail has been enabled in order to complete the migration process, but it is VERY important that you do not use Google Mail until you receive notification that the process is complete.  Using Google Mail before the migration is complete could cause email messages to be permanently erased.</li>
   <li>During this process, you can continue to use your current mail setup.  You will receive a final email in your (old) ONID mailbox when the migration has finished.</li>
   <li>Email clients (i.e. Thunderbird, Outlook, and iPhone/Android mail apps) will not work correctly and need to be reconfigured once the migration process is complete.  Links to instructions for configuring email clients will be included in the completion notification sent to your new Google Mail account.</li>
   <li>Email forwarding and any existing mail filters/rules will need to be re-configured in Google Mail.  Links to instructions for configuring email forwarding and filters/rules in Google Mail will be included in the completion notification sent to your new Google Mail account.</li>
</ol>

You have completed the Opt-In process, thank you. Please visit our Google portal page at <a href="http://oregonstate.edu/google">http://oregonstate.edu/google</a> for more information. 
{% endblock %}
