{% extends "form_base.html" %}

{% block content %}

<p><b>IMPORTANT:</b> This tool does not migrate any email that’s currently stored in your ONID mailbox.</p>

<ul>
    <li>You will need to access your old ONID mailbox to access old messages, AND</li>
    <li>You will need to access your new ONID mailbox on Google to access new messages</li>
</ul>

<p>We will make an announcement when an ONID email migration tool is available for your use.</p>

<p>{{ form.transition }}
I understand that by transitioning to Google Mail now, any email currently stored in my ONID mailbox will not be migrated to Google.</p>
<p>{{ form.transition.errors }}</p>

{% include "buttons.html" %}

{% endblock %}
