{% extends "base.html" %}

{% block content %}

{% csrf_token %}

{{ wizard.management_form }}

<p>Are you ready to transition your ONID mailbox to Google Apps for OSU? If yes, this Email Transition tool is for you.</p>

<p>Following the end of this process, you will use Google to send and receive ONID email.</p>

<p>When you click on the “Continue” button below, we will take you through a few screens to make sure you are ready to move over to Google. As you run through these screens, you will have the option of cancelling the transition if you decide you are not ready.</p>

<div class="form-actions form-wrapper" id="edit-actions">
   <input name="wizard_goto_step" class="form-submit" style="margin-top: 0; " type="submit" value="Continue" />
   <a type="button" class="btn btn-large" href="https://oregonstate.edu" style="text-decoration: none;">
    Cancel ONID Email Transition</a>
</div>


{% endblock %}
