{% extends "form_base.html" %}

{% block content %}

<p>We see that your ONID email account has been forwarding to {{ forward }}.</p>

<p>If you wish to continue forwarding email out of your ONID mailbox, you will need to reset forwarding in Google. Once you are done with this migration process, please follow the instructions at <a href="https://support.google.com/mail/answer/10957?hl=en">https://support.google.com/mail/answer/10957?hl=en</a> to reset your forwarding.</p>

<div class="form-actions form-wrapper" id="edit-actions">
   <input name="wizard_goto_step" class="form-submit" style="margin-top: 0; " type="submit" value="Continue" />
   <a type="button" class="btn btn-large" href="https://oregonstate.edu" style="text-decoration: none;">
    Cancel Opt-In</a>
</div>


{% endblock %}
