{% extends "base.html" %}

{% block content %}

<p>If you currently use any non-Webmail email clients to check your ONID email – and that includes iPhone and Android email apps, as well as desktop clients such as Thunderbird and Outlook – you will need to reconfigure them once the process is complete. You will receive an email after the migration is complete with instructions on how to do this.</p>

<p><b>Be aware the best user experience occurs through the Google Mail web app – commonly referred to as Gmail – and the Google mobile apps.</b> Clients such as Thunderbird and Outlook will work, but they are not optimized for use with Google Mail, and they may not perform as well as Google’s apps.</p>

<input type="checkbox" name="reconfig">I understand that I will need to reconfigure any non-Webmail email clients I use to check your ONID email.</input>

<input type="checkbox" name="narcissism">I understand that mobile clients such as Thunderbird and Outlook may not perform as well as Google’s own mobile apps.</input>

{% endblock %}
