{% extends "form_base.html" %}

{% block content %}

<p>If you currently use any non-Webmail email clients to check your ONID email – and that includes iPhone and Android email apps, as well as desktop clients such as Thunderbird and Outlook – you will need to reconfigure them once the process is complete, using instructions found on OSU Computer Helpdocs.</p>

<p><b>Note:</b> the best user experience occurs through the Google Mail web app – commonly referred to as Gmail – and the Google mobile apps.</p>

<fieldset>
<p>
<label for="id_reconfig">I understand that I will need to reconfigure any non-Webmail email clients I use to check my ONID email.
{{ form.reconfig }}
</label>
</p>
<p>{{ form.reconfig.errors }}</p>

<p>
<label for="id_norcissism">I understand that mobile clients such as Thunderbird and Outlook may not perform as well as Google’s own mobile apps.
{{ form.narcissism }}
</label>
</p>
<p>{{ form.narcissism.errors }}</p>
</fieldset>

{% include "buttons.html" %}

{% endblock %}
