{% extends "base.html" %}

{% block content %}

<p>If you currently use any non-Webmail email clients to check your ONID email – and that includes iPhone and Android email apps, as well as desktop clients such as Thunderbird and Outlook – you will need to reconfigure them once the process is complete. You will receive an email after the migration is complete with instructions on how to do this.</p>

<p><b>Be aware the best user experience occurs through the Google Mail web app – commonly referred to as Gmail – and the Google mobile apps.</b> Clients such as Thunderbird and Outlook will work, but they are not optimized for use with Google Mail, and they may not perform as well as Google’s apps.</p>

<p>{{ form.reconfig }}
I understand that I will need to reconfigure any non-Webmail email clients I use to check your ONID email.</p>
<p>{{ form.reconfig.errors }}</p>

<p>{{ form.narcissism }}
I understand that mobile clients such as Thunderbird and Outlook may not perform as well as Google’s own mobile apps.</p>
<p>{{ form.narcissism.errors }}</p>

<div class="form-actions form-wrapper" id="edit-actions">
   <input name="wizard_goto_step" class="form-submit" style="margin-top: 0; " type="submit" value="Continue" />
   <a type="button" class="btn btn-large" href="https://oregonstate.edu" style="text-decoration: none;">
    Cancel Opt-In Migration</a>
</div>

{% endblock %}
