{% extends "form_base.html" %}

{% block content %}

<p><b>IMPORTANT:</b> This tool does not migrate any email that’s currently stored in your ONID mailbox.</p>

<ul>
    <li>You will need to access your old ONID mailbox to access old messages, AND</li>
    <li>You will need to access your new ONID mailbox on Google to access new messages</li>
</ul>

<fieldset>
<p>
<label for="d_confirm_trans-transition">I understand any email currently stored in my ONID mailbox will not be migrated to Google.
{{ form.transition }}
</label>
</p>
<p>{{ form.transition.errors }}</p>
</fieldset>

{% include "buttons.html" %}

{% endblock %}
