{% extends "base.html" %}

{% block content %}

<p>Once you confirm that your account is ready to migrate, you will click “Opt in” on the next page, which commits you to moving ONID email to Google. The migration process typically takes between 10 minutes and 1 hour to complete. After the migration is complete, ONID email services will be delivered via Google.</p>

<p><b>IMPORTANT: Before opting in to Google Mail, indicate that you understand the items below.</b> You may cancel the opt-in migration if you’re not certain you wish to continue, and you may return to opt in at any point in the future, through an approximate date of December 20th, 2013.</p>

<input type="checkbox" name="prepared">Please make sure you have <a href="http://oregonstate.edu/main/online-services/google-apps-for-osu/pre-sync">prepared your ONID mailbox</a> prior to migration.</input>

<input type="checkbox" name="no_access"><b>Important:</b> During migration, DO NOT try to access mail through Google.</input>

<input type="checkbox" name="no_delete">During migration, you may still access your ONID mailbox to send and receive email, but DO NOT purge messages or restructure your folders, as this can delay or fail your migration.</input>

<input type="checkbox" name="confirm_email">You will receive a final email in your (old) ONID mailbox when the migration has finished. After that, then you may access your ONID email via Google.  We will also email you the next steps, plus tips and tricks for using Gmail.</input>

{% endblock %}
