{% extends "base.html" %}

{% block title %}Confirm{% endblock %}

{% block content %}

<p style="margin:10px;">
Your PSU email has successfully been migrated to the Google email system (Gmail).
All future University mail for you will be delivered to your new Gmail inbox.  You
will no longer need to check PSU Webmail for new mail.
</p>
<p style="margin:10px;">
Please visit our <a href="http://oit.pdx.edu/google">guide</a> to learn more about PSU's new Gmail service.
</p>

{% include "ghoul/outstanding.html" %}

{% endblock %}
