{% extends "base.html" %}

{% block title %}Select{% endblock %}

{% block content %}
<script src="/js/jquery.js"></script>
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
        <p style="margin:10px;text-align:center;">
        <b style="margin:10px;text-align:center;">
        Proceed with email conversion?</b> 
        </p>
        <p style="margin:10px;float:right;text-align:center;">
        Emails with large attachments summing to greater than 25MB per message will be left behind.
        </p>
        <p>
        <!-- close button is defined as close class -->
        <div style="margin:10px;float:left;text-align:center;">
        	<a href="#" class="continue">Continue</a>
        </div>
        <div style="margin:10px;float:right;text-align:center;">
        	<a href="#" class="close">Cancel</a>
 		</div>
    </div>
 
     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
  background-color:#AAF
}
</style>
<p>Welcome to the PSU Email migration opt-in tool. OIT is providing this tool for individuals who want to 
be early adopters of Google Mail. Initially, support for Google Mail issues will be limited as the OIT Helpdesk 
works to train employees and build documentation. If you choose to opt-in you can revisit this page to check 
on the progress of your migration.</p>
<br>
<b>IMPORTANT: Before opting-in to Google Mail be sure that you understand the items below:</b>
<br>
<ul>
<li>While this process typically takes between 10 minutes and 1 hour to complete, it can take up to 48 hours.  
During this process, you can continue to use your current mail setup.  You will receive a final email in your 
PSU mailbox when the migration has finished along with your next steps.

<li>Email clients (i.e. Thunderbird, Outlook, and iPhone/Android mail apps) will not work correctly and need to be reconfigured once the process is complete.
<b>If you intend to use a desktop email client - OIT Recommends you delay opting in, until we can better support you.</b>

<li>Email forwarding (if configured in OAM or Webmail) will stop, and any existing mail filters & rules will need to be configured in Google Mail.

<li>Shared email folders will not be accessible once converted to Google Mail.

<li>Upon engaging the opt-in tool Mail will be available within Google Apps. Do NOT interact with it until you receive the completion emails.

<li>This process can not be reversed. You will be on Google Mail permanently.
</ul>

{% include "ghoul/outstanding.html" %}

<div style="margin:20px;clear:both;text-align:center;">

<p>Clicking the <i>Opt-in</i> button below will initiate the PSU to Google email conversion process.  
Your existing PSU email will 
be copied to Google and all future email sent to you will be delivered to your Google mail account. </p>
<br>
		<form method="post" action="/opt-in/status/">
		{% csrf_token %}
			<input type="submit" value="Opt-in" />
			<input type="hidden" name="login" value="{{ login }}" />
		</form>
</div>

{% endblock %}

