{% extends "base.html" %}

{% block title %}Select{% endblock %}

{% block content %}
<script src="/js/jquery.js"></script>
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
        <p style="margin:10px;text-align:center;">
        <b style="margin:10px;text-align:center;">
        Proceed with email conversion?</b> 
        </p>
        <p style="margin:10px;float:right;text-align:center;">
        Emails with large attachments summing to greater than 25MB per message will be left behind.
        </p>
        <p>
        <!-- close button is defined as close class -->
        <div style="margin:10px;float:left;text-align:center;">
        	<a href="#" class="continue">Continue</a>
        </div>
        <div style="margin:10px;float:right;text-align:center;">
        	<a href="#" class="close">Cancel</a>
 		</div>
    </div>
 
     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
  background-color:#AAF
}
</style>
<p>Welcome to the PSU Email migration opt-in tool. This process is optional, can be started at a later date, 
but it cannot be reversed. OIT is providing this tool for individuals who want to be early adopters of 
Google Mail. Initial support for Google Mail issues will be limited, as the OIT Helpdesk works to 
train employees, build documentation, and prepare classes for Google Apps and Mail throughout the 
summer. Depending on circumstances this process can take up to 48 hours. Continue to use your 
existing email until you receive your “Email Migration Complete!” email. You can log back onto 
this page at anytime to check on the progress of the migration, or watch 
for the email: “Subject: Email Migration Complete! Use Google Mail @  http://mail.pdx.edu </p>

{% include "ghoul/outstanding.html" %}

<div style="margin:20px;clear:both;text-align:center;">

<p>Clicking the <i>Opt-in</i> button below will initiate the PSU to Google email conversion process.  
Your existing PSU email will 
be copied to Google and all future email sent to you will be delivered to your Google mail account. </p>
<br>
		<form method="post" action="/opt-in/status/">
		{% csrf_token %}
			<input type="submit" value="Opt-in" />
			<input type="hidden" name="login" value="{{ login }}" />
		</form>
</div>

{% endblock %}

