{% comment %}
{% extends "base.html" %}
{% endcomment %}

{% block title %}Select{% endblock %}

{% block content %}
<script src="/opt-in/js/jquery.js"></script>
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
        <p style="margin:10px;text-align:center;">
        <b style="margin:10px;text-align:center;">
        Proceed with email conversion?</b> 
        </p>
        <p style="margin:10px;float:right;text-align:center;">
        Email with large attachments summing to greater than 25MB will be left behind
        and long email folders may not be easily usable within Gmail.
        </p>
        <p>
        <!-- close button is defined as close class -->
        <div style="margin:10px;float:left;text-align:center;">
        	<a href="#" class="continue">Continue</a>
        </div>
        <div style="margin:10px;float:right;text-align:center;">
        	<a href="#" class="close">Cancel</a>
 		</div>
    </div>
 
     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
  background-color:#77B
}
</style>

{% include "ghoul/outstanding.html" %}

<div style="margin:20px;clear:both;text-align:center;">
<p>Clicking the <i>Opt-in</i> button below will initiate the PSU to Google email conversion process.  
Your existing PSU email will 
be copied to Google and all future email sent to you will be delivered to your Google mail account. </p>
<br>
		<form method="put" action="/opt-in/status/">
			<input type="submit" value="Opt-in" />
			<input type="hidden" value="login" />
		</form>
</div>

{% comment %}
<div style="margin:20px;clear:both;text-align:center;">
<p>Clicking the <i>Opt-in</i> button below will initiate the PSU to Google email conversion process.  
Your existing PSU email will 
be copied to Google and all future email sent to you will be delivered to your Google mail account. </p>
<br>
		<form method="put" action="/opt-in/status/">
			<input type="submit" value="Opt-in" />
			<input type="hidden" value="login" />
		</form>
</div>
	<script>
	$("form").submit( function() {
		alert('Are you sure you want to proceed?');
		return false;
	});
	</script>
{% endcomment %}

{% endblock %}

