

{% extends "base.html" %}

{% block title %}Status{% endblock %}

{% block content %}
<script src="/js/jquery.js"></script>
<script src="/js/jquery.progressbar.min.js"></script>
<script>
	$(document).ready(function(){
		
		$("#copyprogressbar").progressBar();
		$("#copyprogressbar").fadeIn();
		var i = setInterval(function() {
			var loginName = "{{ login }}"
			$.getJSON("/opt-in/copy_progress/", { login: loginName }, function(data) {
				if (data == null) {
					clearInterval(i);
					location.reload(true);
					return;
				}
				data = parseInt(data)
				// var percentage = Math.floor(100 * parseInt(data) / 100);
				var percentage = Math.floor(100 * data / 100);
				$("#copyprogressbar").progressBar(percentage);
				if (percentage == 100) {
					clearInterval(i);

					var form = document.createElement("form");
			        form.setAttribute("method", "POST");
			        form.setAttribute("action", "/opt-in/confirm/");

			        var hiddenField = document.createElement("input");
			        hiddenField.setAttribute("type", "hidden");
			        hiddenField.setAttribute("name", "login");
			        hiddenField.setAttribute("value", "{{ login }}");
			        form.appendChild(hiddenField);
			        document.body.appendChild(form);
			        form.submit();

			        //window.location = "/opt-in/confirm/"
					//location.reload(true);
					return;
				}
			});
		}, 500);
	});
</script>
<p style="margin:10px;">
<span id='debug'></span>
Google Mail and PSU’s Webmail systems both offer the same basic functionality to send and receive email, save drafts, sorting, filtering, spam filtering, and vacation response. Of course, the websites for accessing PSU Webmail and Google Mail have a very different “look and feel,” as anyone who has a personal Gmail account can attest.

However, the biggest difference between Google Apps Mail and PSU Webmail is the integration between the various Google Apps - the ability to collaboratively interact with calendars and documents directly from the Gmail App (e.g. Discussions). This integration of services is what sets Google Apps apart from the other offerings we have at PSU. 
<p>
<table style="margin:10px;">
	<tr><td>Email Copy Progress</td><td><span class="progressBar" id="copyprogressbar">10%</span></td></tr>
</table>

{% endblock %}
