ul.errorlist { color:#FF0000; }

.ui-widget-header {
    background: #c36200;
    color: #ffffff;
}

.ui-widget {
    font-size: 0.8em;
}

.ui-progressbar-value {
    background: #c36200;
}

#cancel_button {
    font-size: 18px;
}

#continue_btn {
    font-size: 18px;
}
