{% block buttons %}

<div class="form-actions form-wrapper" id="edit-actions">
{% if wizard.steps.current == "final_confirm" %}
    <input class="form-submit" style="margin-top: 0;" id="continue_btn" type="submit" value="Yes! I want to Opt-In" />
{% elif wizard.steps.current == "confirm" %}
    <input class="form-submit" style="margin-top: 0;" id="continue_btn" type="submit" value="Yes! I want to Opt-In" />
{% else %}
    <input class="form-submit" style="margin-top: 0;" id="continue_btn" type="submit" value="Continue" />
{% endif %}
    <button type="button" class="btn btn-large" id="cancel_button">Cancel Opt-In</button>
</div>

<!-- Next Step: {{ wizard.steps.next }} -->

<!-- Cancel Dialog -->
<div id="cancel_dialog" title="Cancel Opt-In">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
Are you sure you want to cancel the Opt-In process?<br><br>You may return to opt in at any point in the future, through an approximate date of December 20th, 2013
    </p>
</div>

{% endblock %}
