<!DOCTYPE HTML>
<!--[if lte IE 7]> <html lang="en" class="ie ie7 classic"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie ie8 classic"> <![endif]-->
<!--[if gt IE 8]><!--><html class="classic" lang="en"><!--<![endif]-->
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/vnd.        microsoft.icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ONID Email Migration - Google Apps for OSU</title>

  <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/system.base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/system.menus.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/system.messages.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/system.theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/aggregator.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/book.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/date.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.1.7.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/field.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/is_features.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/node.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/osu_top_hat.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/user.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/views.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/ctools.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/webform.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/classic.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main-responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/goblin.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/fonts.css" %}" />

  <!-- Javascripts -->

  <!-- Google Analytics script -->
  <!-- Tracking code is returned in google_tracking_code() from template.php -->
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', "UA-4834799-1"]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
  </script>
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.once.js" %}"></script>
  <script type="text/javascript" src="{% static "js/drupal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.form.js" %}"></script>
  <script type="text/javascript" src="{% static "js/form.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
  <script type="text/javascript" src="{% static "js/progress.js" %}"></script>
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ajax_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/textarea.js" %}"></script>
  <script type="text/javascript" src="{% static "js/collapse.js" %}"></script>
  <script type="text/javascript" src="{% static "js/webform.js" %}"></script>
  <script type="text/javascript" src="{% static "js/timers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/menus.js" %}"></script>

</head>

<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-339 node-type-webform" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
<!-- OSU Top Hat -->

<!-- Top-Hat -->
<div id='osu-top-hat'><div class='container'><a href='http://oregonstate.edu' class='tag'><img src="{% static "images/osu-tag.png" %}" class='logo' alt='Oregon State University' /><span class='mobile-header'>OREGON STATE UNIVERSITY</span></a></div></div><div id="bg-holder"></div>
<div id='page-wrapper' class='container'>

  <!-- Site Name -->
  <div id='header' class='row-fluid'>
    <h1><a href='/is/'>Google Apps for OSU - ONID Email Migration</a></h1>
  </div>


    <!-- Messages and breadcrumbs -->
    <div id="messages" style="margin-top:7px;">
      <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="#">Email Migration Tool</a> » <a href="#">{{ page_title }}</a></div>    </div> <!-- messages -->


    <!-- Full width top region -->


    <!-- Now divide into main column and right sidebar -->
    <div class='row'>
      <div class='span12' >

        <!-- Features -->

                <div class='row'>
        <!-- Main content and middle sidebar -->
          <div class='span12'>

            <!-- Pre-content -->

            <!-- Main Content -->
            <h2 class="title" id="page-title">{{ page_title }}</h2>


              <div id='content' >
                <a name="main-content"></a>
                  <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">
    <div id="node-339" class="node node-webform clearfix">




  <div class="content">
<form class="webform-client-form" enctype="multipart/form-data" action="#" method="post" id="X" accept-charset="UTF-8">

{% csrf_token %}

{{ wizard.management_form }}

{% block content %}
{% endblock %}

</form>
</div>
</div>


</div>
  </div>
</div>
  </div>
            <!-- /content -->

            <!-- Main page columns  -->


            <!-- Post-ontent -->

          </div> <!-- Content area -->

          <!-- Middle Sidebar -->

        </div>
      </div> <!-- /Main Columns -->


      <!-- Right Sidebar - sidebar_first -->
      <!-- ## commented out since no links are known, to re-instate the sidebar, be   sure
            ## to set the main content and main column divs to class="span9" instead of
                  ## span12

              <div id='sidebar-first' class='span3'>
            <div class="region region-sidebar-first">

<div id="block-book-navigation" class="block block-book">

    <h2><a href="#" class="book-title active">ONID Email Migraion</a></h2>

  <div class="content">
    <ul class="menu"><li class="first collapsed"><a href="#">Link 1</a></li>
        <li class="collapsed"><a href="#">Link 2</a></li>
        <li class="collapsed"><a href="#">Link 3</a></li>
        <li class="last collapsed"><a href="#">Last Link in this App</a></li>
    </ul>
  </div>
</div>
</div>

</div>
-->

</div>
</div>
  </div>
        </div>

    </div> <!-- /main-body-row -->

    <!-- Full width above footer -->

  </div> <!-- /container -->

  <!-- Page Footer -->

    <div id='footer'>
      <div class='container'>
        <div class='row'>
          <div class='span4 contact'>
            <h3>Google Apps for OSU</h3>
            <div class="specific-contact">
              <p><a href="http://oregonstate.edu/google" target="_blank">Google Apps for OSU portal</a><br /><a href="http://oregonstate.edu/is/tss/och" target="_blank">OSU Computer Helpdesk</a></p>
            </div>
            <div class="general-contact">
              <a href="http://oregonstate.edu/copyright" target="_blank">Copyright</a>
              &copy;2013              Oregon State University<br />
              <a href="http://oregonstate.edu/disclaimer" target="_blank">Disclaimer</a>
            </div>
             <div class="social-media"></div>
          </div>
          <div class='span4'>
          </div>
        </div>
      </div>
    </div>

	<!-- /page-wrapper -->
  </body>
</html>
